a{
    text-decoration: none;
}
.header-card{
    display: inline-flex;
    height: 150px;
    width: 100%;
    background: #e72623;
}
.card{
    display: block;
    margin-top: 4em;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background: #ffffff;
    border-color: #e72623;
    color: #e72623;
    border-radius: 20px;
}
.p-tabmenu .p-tabmenu-nav {
    border-radius: 20px;
}
.p-tabmenuitem .p-highlight{
    color: unset;
}

.card-logo{
    float: left;
    height: inherit;
    width: 25%;
}
.card-name{
    width: 20%;
    height: max-content;
    position: relative;
    top: 4.5em;
    font-size: 10px;
    color: white;
    font-family: "gentona",Tahoma,sans-serif;
    padding: 0 20px;
    text-align: left;
}
.rpi-logo{
    width: 100%;
    height: initial;
    overflow: auto;
    position: relative;
    top: 25px;
    border-right: 1px solid #ffffff;
}
.homebar a{
    height: 40px;
    width: fit-content;
    margin: 5px;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: medium;
    border-bottom: .5px solid red;
    border-top: .5px solid red;
    transition: border-bottom 1s, border-top 1s, color 1s;

}
.homebar a:hover{
    border-bottom: 8px solid lightsalmon;
    color: red;
    background-color: white;
    border-top: 1px solid lightsalmon;
}
.module-card{
    height: 60px;
    width: 100%;
    display: flex;
    background-color: rgb(37, 62, 107);
    padding-left: 105vh;
    align-items: center;
}
.module-card a{
    color: cornflowerblue;
    /* height: 60px; */
    text-align: center;
    padding: 0 4px;
    align-content: center;
    float: right;
    border-right: 1px solid white;
}
.module-card a:hover{
    color: white;
}